.row#marzo
    .col.s12.m12.l6
        .medium.card.yellow.darken-1
            .card-image
                img.center(src="https://es.unesco.org/sites/default/files/styles/commemoration_header/public/commemorations/img_womens-day-2.jpg?itok=a4fTm1EI")
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;") 08 de Marzo: Día Internacional de la Mujer
            .card-stacked
                .card-content
                    p.parrafo-tarjeta 
                .card-action
                    a.blue-text.text-darken-4(href="") ver
                    a.blue-text.text-darken-4(href="") ver

    .col.s12.m12.l6
        .medium.card.yellow.darken-1
            .card-image
                img.center
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;")
            .card-stacked
                .card-content
                    p.parrafo-tarjeta 
                .card-action
                    a.blue-text.text-darken-4(href="") ver
                    a.blue-text.text-darken-4(href="") ver

    .col.s12.m12.l6
        .medium.card.yellow.darken-1
            .card-image
                img.center
                span.card-title.white-text.titulo-tarjeta(style="font-weight: bolder;")
            .card-stacked
                .card-content
                    p.parrafo-tarjeta 
                .card-action
                    a.blue-text.text-darken-4(href="") ver
                    a.blue-text.text-darken-4(href="") ver